@charset "UTF-8";

#wrap {
  position: relative;
}

.write_wrapper {
  /* display: flex; */
  margin-top: 100px;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 100%;
}

.write_wrapper h3 {
  position: relative;
  width: 100%;
  height: 10%;
  line-height: 10%;
  margin-bottom: 30px;
}

.write_wrapper table {
  position: relative;
  width: 100%;
  height: 90%;
  padding-top: 30px;
  border-top: 3px solid black;
  left: 0px;
}

.write_wrapper table tr {
  left: 0px;
}

.write_wrapper table tr td {
  box-sizing: border-box;
  width: 1rem;
  /* height: 1rem; */
  height: 70px;
  /* line-height: 70px; */
  /* padding-right: 10px; */
}

.write_wrapper table tr:last-child {
  position: absolute;
  margin-top: 20px;
  /* right: 20%; */
}

.write_wrapper table tr td:first-child{
  /* text-align: center; */
  font-size: 18px;
  font-weight: 600;
  /* outline: 2px solid black; */
}

.write_wrapper table tr td:last-child {
  width: 10rem;
  outline: none;
}

.write_wrapper table tr td.date_td {
  float: left;
  width: 10rem;
}


